@model ElCaminoDeCostaRica.Models.Route

<html>
<head>
</head>
<body class="body_Index">
<<<<<<< HEAD
    <div class="formTitleCenter container_Green">
        @using (Html.BeginForm("addRoute", "Route", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h1 class="formTitleCenter">Crear ruta</h1>
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.start, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.start, new { @class = "form-control, formInput" })
                    @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.finish, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.finish, new { @class = "formcontrol, formInput" })
                    @Html.ValidationMessageFor(model => model.finish, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.distance, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.distance, new { @class = "formcontrol, formInput" })
                    @Html.ValidationMessageFor(model => model.distance, "", new { @class = "text-danger" })
                </div>

            </div>
            <div>

                <input type="submit" class="btn btn-success btnCreate" value="Crear" />
            </div>
=======
    <div>
        @using (Html.BeginForm("addRoute", "Route", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            <section class="min-vh-100 " style=" font-size:x-large;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-xl-10">
                            <div class="card" style="border-radius: 4rem; border-style: solid; border-color: #FAD586;">
                                <div class="row g-0 mb-7">

                                    <div class="col-md-6 col-lg-5 d-none d-md-block" ;>
                                        <img src="https://cdn-icons.flaticon.com/png/512/1264/premium/1264748.png?token=exp=1657071228~hmac=b66a84efaabf544de46f016fabcf2b19"
                                             alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin: 8px 14px" />
                                    </div>

                                    <div class="col-md-6 col-lg-7 d-flex align-items-center" style="font-size:x-large">
                                        <div class="card-body p-4 p-lg-5 text-black">


                                            <form>

                                                <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #184D47">Añadir Ruta</h1>

                                                @Html.HiddenFor(model => model.id)

                                            <div class="form-outline mb-4">
                                                @Html.LabelFor(model => model.start, new { @class = "formLabel" })
                                                @Html.TextBoxFor(model => model.start, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-outline mb-4">
                                                @Html.LabelFor(model => model.finish, new { @class = "formLabel" })
                                                @Html.TextBoxFor(model => model.finish, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.finish, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-outline mb-4">
                                               
                                                @Html.LabelFor(model => model.distance, new { @class = "formLabel" })
                                                @Html.TextBoxFor(model => model.distance, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.distance, "", new { @class = "text-danger" })

                                            </div>

                                                <div class="pt-1 mb-4">
                                                    <a href="~/Views/Home/Index.cshtml">
                                                        <input type="submit" class="rounded-3 btnLogin"
                                                               style=" margin: 10px; background-color: #FAD586; color:black; "
                                                               value="Guardar Cambios" />
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

>>>>>>> Cesar

            if (ViewBag.Message != null)
            {
                if (ViewBag.Success)
                {
                    <div class="alert-success">
                        <h3> @ViewBag.Message </h3>
                    </div>
                }
                else
                {
                    <div class="alert-danger">
                        <h3> @ViewBag.Message </h3>
                    </div>
                }
            }
        }
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>

