@model ElCaminoDeCostaRica.Models.User
@{ List<SelectListItem> usertype = new List<SelectListItem>() { new
SelectListItem { Text = "Administrador", Value= "1"}, new SelectListItem { Text = "Caminante", Value="0"} };
}

<html>
<head>
</head>
<body>

<<<<<<< HEAD
    @using (Html.BeginForm("userEdit", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        <h1>Formulario de edicion de usuario</h1>
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.id)
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(model => model.firstName, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.firstName, new { @class = "formcontrol, formInput" })
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.lastName, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.lastName, new { @class = "formcontrol, formInput" })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.email, new { @class = "formcontrol, formInput" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.phone, new { @class = "formLabel" })
                    @Html.TextBoxFor(model => model.phone, new { @class = "formcontrol, formInput" })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.userType, new { @class = "formLabel" })
                    @Html.DropDownListFor(model => model.userType, usertype, "-Sin selección - ", new { @class = "form - control" })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>

                <div>
                    <input type="submit" class="btn btn-success" value="Aplicar cambios" />
                </div>
            </div>
        </div>
    }
=======

    @using (Html.BeginForm("userEdit", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()



        <section class="min-vh-100 " style=" font-size:x-large;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-10">
                        <div class="card" style="border-radius: 4rem; border-style: solid; border-color: #FAD586;">
                            <div class="row g-0 mb-7">

                                <div class="col-md-6 col-lg-5 d-none d-md-block" ;>
                                    <img src="https://cdn-icons-png.flaticon.com/512/121/121703.png"
                                         alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin: 8px 14px" />
                                </div>

                                <div class="col-md-6 col-lg-7 d-flex align-items-center" style="font-size:x-large">
                                    <div class="card-body p-4 p-lg-5 text-black">


                                        <form>

                                            <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #184D47">Modificar Usuario</h1>

                                            @Html.HiddenFor(model => model.id)

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example17">  Nombre </label>
                                                @Html.TextBoxFor(model => model.firstName, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Apellido </label>
                                                @Html.TextBoxFor(model => model.lastName, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Email </label>
                                                @Html.TextBoxFor(model => model.email, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Teléfono </label>
                                                @Html.TextBoxFor(model => model.phone, new { @class = "form-control, form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-outline mb-4">
                                                <label class="form-label" for="form2Example27">Tipo de Usuario</label>
                                                @Html.DropDownListFor(model => model.userType, usertype, "-Sin selección - ", new { @class = "form-control,form-control-lg" })
                                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

                                            </div>



                                            <div class="pt-1 mb-4">
                                                <a href="~/Views/Home/Index.cshtml">
                                                    <input type="submit" class="rounded-3 btnLogin"
                                                           style=" margin: 10px; background-color: #FAD586; color:black; "
                                                           value="Guardar Cambios" />
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }














>>>>>>> Cesar
</body>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</html>
